<div class="sidemenu-container">
  <aside class="menu">
    <p class="menu-label">
      <a routerLink="/">
        <span class="icon has-text-info">
          <i class="fas fa-home"></i>
        </span>
        <span>Início</span>
      </a>
    </p>
    <p class="menu-label">
      <span class="icon has-text-info">
        <i class="fas fa-globe"></i>
      </span>
      <span>AMADEUS</span>
    </p>
    <ul class="menu-list">
      <li>
        <a routerLink="/amadeus">
          <span class="icon has-text-info">
            <i class="fas fa-bed"></i>
          </span>
          <span>Hotéis</span>
        </a>
      </li>
    </ul>
  </aside>
</div>
